<ul class="list-group-flush" role="tablist">
  <li class="list-group-item">
    <a
      class="btn btn-secondary btn-dark btn-block"
      [routerLink]="['welcome']"
      role="button"
    >
      Welcome
    </a>
  </li>
  <li class="list-group-item">
    <a
      class="btn btn-secondary btn-dark btn-block"
      [routerLink]="['table']"
      role="button"
    >
      Table
    </a>
  </li>
  <li class="list-group-item">
    <a
      class="btn btn-secondary btn-dark btn-block "
      [routerLink]="['apiSearch']"
      role="button"
    >
      API Search</a
    >
  </li>
</ul>
