<div class="row mt-3">
  <div class="col-8">
    <input
      type="text"
      class="form-control w-75"
      placeholder="Search your favourite Star Wars character..."
      [(ngModel)]="name"
      required
      (keyup.enter)="search()"
    />
    <button (click)="search()" class="btn btn-dark mt-3">Search</button>
    <div *ngIf="loading">Loading ...</div>
    <div *ngIf="character['name'] && !loading">
      <table class="table table-bordered mt-3  text-center ">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Height</th>
            <th scope="col">Mass</th>
            <th scope="col">Gender</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ character["name"] }}</td>
            <td>{{ character["height"] }}</td>
            <td>{{ character["mass"] }}</td>
            <td>{{ character["gender"] | titlecase }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
