<div class="row mt-3 ">
  <div class="col-8 ">
    <input
      type="text"
      class="form-control w-50"
      [(ngModel)]="name"
      [disabled]="visible"
      placeholder="Enter your name here"
      required
      (keyup.enter)="toggleChild()"
    />
    <button
      class="btn btn-dark mt-3"
      (click)="toggleChild()"
      [disabled]="!name"
    >
      {{ buttonValue }}
    </button>
  </div>
</div>
<div class="row mt-3">
  <div class="col-8">
    <welcome-card [name]="name" *ngIf="visible"></welcome-card>
  </div>
</div>
