<div class="row">
  <div class="col-8">
    <div form="form-group">
      <label for="exampleInputEmail1">Enter your name:</label>
      <input
        type="text"
        class="input"
        [(ngModel)]="name"
        [disabled]="visible"
        required
      />
    </div>

    <button class="btn btn-primary" (click)="toggleChild()" [disabled]="!name">
      {{ buttonValue }}
    </button>
  </div>
</div>
<div class="row">
  <div class="col-8">
    <welcome-card [name]="name" *ngIf="visible"></welcome-card>
  </div>
</div>
